<body>
    <div class="container">
        @for (recipe of recipes; track $index) {
        <div class="product-card">
            <div class="product-image">
                <img [src]="recipe.image" [alt]="recipe.recipeName">
            </div>
            <div class="product-details">
                <h2 class="product-title">{{recipe.recipeName}}</h2>
                <p class="product-description">{{recipe.description | slice: 25}}</p>
                <div class="buttons">
                    <button [routerLink]="recipe._id" class="details-btn">Details</button>
                     @if(userId == recipe.userId._id){
                        <button (click)="onEdit(recipe._id)" class="details-btn">Edit</button>
                        <button  (click)="onDelete(recipe._id)" class="details-btn">Delete</button>
                     }
                    
                </div>
            </div>
        </div>
        }

    </div>
</body>