footer {
    position: relative;
    text-align: center;
    justify-content: space-evenly;
    font-size: 22px;
    background: #C9ADA7;
    float: right;
    min-width: 100%;
    min-height: 10vh;
    align-items: center;
    bottom: 0;
}

p {
    padding: 10px;
    color: #22223B;
    font-weight: bold;
}


