<div class="container">
    <!-- recipe content  -->
    <div class="recipe-content">
      <!-- recipe-title  -->
  
      @if(!isLoggedIn){
      <app-home />
      }
      <div class="recipe-title">
        <div class="recipe-name-wrapper">
          <div class="recipe-name">
            <h2>{{ recipe.recipeName }}</h2>
            <p>
              Posted on: <time>{{ recipe.created_at | date : "dd.MM.yyyy"  }}</time>
            </p>
            <div class="recipe-description">
              {{recipe.description}}
            </div>
          </div>
          <div class="subscribers">
            <p>
              Subscribers: <span>{{ recipe.subscribers.length || 0 }}</span>
            </p>
            @if(isLoggedIn){
              @if(!isSubscribed){
                <button (click)="onSubscribe()" class="subscribe">Subscribe</button>
              }
            }
            
            
            
          </div>
        </div>
      </div>
  
      <!-- comment  -->
  
      @for (comment of recipe.comments; track $index) {
      <div class="comment">
        <header class="header">
          <p>
            <span>{{ comment.userId.username }}</span> commented
            <time>{{ comment.created_at | elapsedTime }}</time>
          </p>
        </header>
        <div class="comment-main">
          <div class="userdetails">
            <img src="profile.png" alt="avatar" />
          </div>
          <div class="post-content">
            <p>
              {{ comment.text }}
            </p>
          </div>
        </div>
       
      </div>
  
      } 
      @if(isLoggedIn){
      <div class="answer-comment">
        <p>
          <span>{{ username }}</span> comment:
        </p>
        <div class="answer">
          <form #form="ngForm" (ngSubmit)="onComment(form)">
            <textarea name="text" id="comment" cols="30" rows="10" ngModel #inputText="ngModel" minlength="10" required></textarea>
            <button [disabled]="form.invalid" [style]="{backgroundColor: form.invalid ? 'grey' : '#234465'}">Post</button>
          </form>
        </div>
      </div>
    }
  </div>
</div>
