/* Main Header Styles */
header {
    background: #C9ADA7; /* Consistent background color */
    height: 10vh;
    
}
ul {
    float: right;
    list-style-type: none;
    margin-top: -22px;
    margin-right: 60px;
    font-size: 17px;
}
ul li{
    display: inline-block;
}
ul li:hover {
    scale: 1.1;
}
ul li a{
    text-decoration:none;
    color:#22223B;
    padding: 5px 20px ;
    cursor: pointer;
    text-align: center;
    border-radius: 20px;
    text-shadow: 1px 1px rgb(87, 86, 86);
}
p{
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
    color:#22223B;
    font-weight: bold;

}
li{
    background-color: #9A8C98;
    border-radius: 30px;
    margin-right: 5px;
}