<header>
    <div class="mini-navbar-wrap">
        <div class="logo-wrap">
            <img src="">
            <p class="logo">Recipes Community</p>
        </div>
        <div class="mini-navbar">
            <ul>
                <li>
                    <a routerLink="/home">Home</a>
                </li>
                <li>
                    <a routerLink="/themes">Themes</a>
                </li>
                @if(!true){
                    <li>
                        <a routerLink="/login">Login</a>
                    </li>
                    <li>
                        <a routerLink="/register">Register</a>
                    </li>            
                }@else{
                <li>
                    <a routerLink="/add-theme">New Theme</a>
                </li>
                <li>
                    <a routerLink="/profile">Profile</a>
                </li>
                <li>
                    <a routerLink="/logout">Logout</a>
                </li>
                }

            </ul>
        </div>
    </div>
</header>