<div class="container">
    <div class="welcome" [style]="{'margin-bottom':isLoggedIn ? '30.3%' : '21.37'}">
        <h3>Welcome!</h3>
        <p>The Recipy Sharing Comunity is a place, where you can post your own recipes,find inspiration in those of
            others, comment and discuss problems, which
            you have in the preparation of a meal and much more...</p>
        @if(!isLoggedIn){
        <div class="logged">
            <ul>
                <li>
                    <a routerLink="/login">
                        <i class="fas fa-sign-in-alt"></i>
                        Login
                    </a>
                </li>
                <li>
                    <a routerLink="/register">
                        <i class="fas fa-user-plus"></i>
                        Register
                    </a>
                </li>
            </ul>
        </div>
        }
    </div>
</div>